In [2]:
import pandas as pd

In [3]:
file = "data/goal_9.xlsx"

In [4]:
regions_to_remove = [
    "Africa", "Americas", "Asia", "Australia and New Zealand", "Caribbean",
    "Caucasus and Central Asia", "Central America", "Central Asia",
    "China, Hong Kong Special Administrative Region", "China, Macao Special Administrative Region",
    "Developed regions (Europe, Cyprus, Israel, Northern America, Japan, Australia & New Zealand)",
    "Developing regions", "Eastern Africa", "Eastern and South-Eastern Asia",
    "Eastern Asia", "Eastern Asia (excluding Japan and China)",
    "Eastern Asia (excluding Japan)", "Eastern Europe", "Europe",
    "Europe and Northern America", "Landlocked developing countries (LLDCs)",
    "Latin America and the Caribbean", "Least Developed Countries (LDCs)", "Melanesia",
    "Middle Africa", "Northern Africa", "Northern Africa (exc. Sudan)",
    "Northern Africa and Western Asia", "Northern America", "Northern Europe",
    "Oceania", "Oceania (exc. Australia and New Zealand)",
    "Other non-specified areas in Eastern Asia", "Small island developing States (SIDS)",
    "South America", "South-Eastern Asia", "Southern Africa", "Southern Asia",
    "Southern Asia (excluding India)", "Southern Europe", "Sub-Saharan Africa",
    "Sub-Saharan Africa (inc. Sudan)", "Western Africa", "Western Asia",
    "Western Asia (exc. Armenia, Azerbaijan, Cyprus, Israel and Georgia)", "Western Europe",
    "World"
]

In [5]:
df = pd.read_excel(file, sheet_name="Goal9 Cleaned")
df.head()

,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Mode of transportation,Nature,Units
0,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",1,World,2015,3.771137e+12,2015,the International Transport Forum at the OECD ...,IWW,N,T_KM
1,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",1,World,2015,3.378238e+13,2015,the International Transport Forum at the OECD ...,ROA,N,T_KM
2,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",1,World,2015,1.116879e+13,2015,the International Transport Forum at the OECD ...,RAI,N,T_KM
3,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",1,World,2017,2.229958e+11,2017,ICAO,AIR,N,T_KM
4,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",1,World,2018,2.234717e+11,2018,ICAO,AIR,N,T_KM

In [6]:
filtered_df = df[~df['GeoAreaName'].isin(regions_to_remove)]

filtered_df.head()

,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Mode of transportation,Nature,Units
42,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",4,Afghanistan,2017,21462557.0,2017,ICAO,AIR,C,T_KM
43,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",4,Afghanistan,2018,29559349.0,2018,ICAO,AIR,C,T_KM
44,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",4,Afghanistan,2019,20014206.0,2019,ICAO,AIR,C,T_KM
45,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",4,Afghanistan,2020,19878902.0,2020,ICAO,AIR,C,T_KM
46,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",4,Afghanistan,2021,12020125.0,2021,ICAO,AIR,C,T_KM

In [7]:
with pd.ExcelWriter(file, mode='a', engine='openpyxl') as writer:
    filtered_df.to_excel(writer, index=False, sheet_name="Goal9 Filtered")